

.passwordField {
    position: relative;
}

.credentialInput[type=password] {
    width: 100%;
    line-height: 1;
    box-sizing: border-box;
    font-size: 1.25rem;
    margin: 0px;
}

.passwordButton {
    position: absolute;
    right: 0px; 
    top:6px;
    bottom: 2px;
    background-color: #02a8a0;
    color: #fff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.passwordButton:hover {
    background-color: #02bdb3;
}

.credentialInput {
    font-size: 1.25rem;
    margin: 0px;
    padding: 3px;
    outline: none;
    border: none;
    background-color: #bdbdbd;
}

.credentialInput:focus {
    border: none;
    background-color: #eeeeee;
}

.effect {
    width: 100%;
    line-height: 1;
    box-sizing: border-box;
    font-size: 1.25rem;
    margin: 0px;
    padding: 3px;
    outline: none;
    border: none;
    background-color: #bdbdbd;
    animation: highlight 0.75s !important; 
}

@keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    
    20%, 80% { transform: translate3d(2px, 0, 0); }

    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }

    40%, 60% { transform: translate3d(4px, 0, 0); }
}

@keyframes highlight {
    0% {
        background-color: #02a8a0; 
    }
    100% {
        background-color: #bdbdbd;
    }
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    
    20%, 80% { transform: translate3d(1px, 0, 0); }

    30%, 50%, 70% { transform: translate3d(-1px, 0, 0); }

    40%, 60% { transform: translate3d(1px, 0, 0); }
}