

.passwordField {
    position: relative;
}

.credentialInput[type=password] {
    width: 100%;
    line-height: 1;
    box-sizing: border-box;
    font-size: 1.25rem;
    margin: 0px;
}

.passwordButton {
    position: absolute;
    right: 0px; 
    top:6px;
    bottom: 2px;
    background-color: #02a8a0;
    color: #fff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.passwordButton:hover {
    background-color: #02bdb3;
}

.credentialInput {
    font-size: 1.25rem;
    margin: 0px;
    padding: 3px;
    outline: none;
    border: none;
    background-color: #bdbdbd;
}

.credentialInput:focus {
    border: none;
    background-color: #eeeeee;
}