.generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.generator h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.generator form {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
}

.input_pair {
    display: flex;
    align-items: center;
}

.input_pair input {
    width: 50px;
    margin-right: 10px;
}
.input_pair input:checked {
    background-color: #02a8a0;
}

/* Style the custom number */
.input_pair input[type="number"] {
    margin-right: 10px; /* Add some spacing between the checkbox and label */
    -webkit-appearance: none; /* Remove default styles on some browsers */
    appearance: none; /* Remove default styles on modern browsers */
    border: 1px solid #ccc; /* Add a border around the custom checkbox */
    padding: 5px;
    background-color: #02a8a0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    outline: none; /* Remove the default focus outline */
    cursor: pointer;
    arrowUp: {
        borderBottomColor: 'rgba(66, 54, 0, 0.63)'
    },
    arrowDown: {
        borderTopColor: 'rgba(66, 54, 0, 0.63)'
    }
}


/* Style the custom checkbox */
.input_pair input[type="checkbox"] {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    margin-right: 10px; /* Add some spacing between the checkbox and label */
    -webkit-appearance: none; /* Remove default styles on some browsers */
    appearance: none; /* Remove default styles on modern browsers */
    border: 1px solid #ccc; /* Add a border around the custom checkbox */
    outline: none; /* Remove the default focus outline */
    cursor: pointer;
}

/* Style the custom checkbox when checked */
.input_pair input[type="checkbox"]:checked {
    background-color: #02a8a0; /* Background color when checked */
    border: 1px solid #02a8a0; /* Border color when checked */
}

/* Style the label for the checkbox */
.input_pair label {
    font-size: 16px;
}

/* Hide the default checkbox (visually) */
.input_pair input[type="checkbox"]::before {
    content: ""; /* Hide the default checkbox content */
    display: inline-block;
    width: 0;
    height: 0;
    border: 0;
    padding: 0;
}

.generator button {
    background-color: #02a8a0;
    color: #fff;
    font-size: 1.25rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.generator button:hover {
    background-color: #02bdb3;
}

.result {
    display: flex;
    align-items: center; /* Vertically center the content */
    background-color: #181818;
    gap: 20px; /* Adjust the gap between password and button */
    margin: 10px;
    padding: 20px;
}

.generated_password {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
    font-size: 30px;
    background-color: #181818;
    color: #02a8a0;
}