.credential_store {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 40px;
}

.stored_credential {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
}

/* Style for the credential title */
.credential-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

/* Style for the username */
.credential-username {
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
}

/* Style for the URL */
.credential-url {
    font-size: 14px;
    color: #555;
}